.auction
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}


.auction__grid
{
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    column-gap: 2rem;
    gap: 2rem;
    margin-top: 5rem;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 5rem 0;
}

.auction__grid > *
{
    scroll-snap-align: start;
}

@media (min-width: 1300px) {
    .auction__grid
    {
        overflow-y: unset;
        overflow-x: unset;
        scroll-snap-type: unset;
    }

    .auction__grid > *
    {
        scroll-snap-align: unset;
    }

    .auction__grid
    {
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

.auction__heading
{
    font-size: 4rem;
    font-weight: var(--medium);
}

.auction__subheading
{
    margin-top: 3rem;
    color: var(--dark2);
    font-size: 2rem;
}

.auction__subheadingmod
{
    text-decoration: underline;
    font-weight: var(--medium);
}

