.brands
{
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
}

.brands img:nth-child(4)
{
    display: none;
}

@media (min-width: 768px) {
    .brands
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        align-items: center;
    }
}

@media (min-width: 1160px) {
    .brands{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    .brands img:nth-child(4)
    {
        display: block;
    }
}