.header
{
    padding: 5rem 2rem;
}

@media (min-width: 768px) {
    .header
    {
        padding: 5rem 0;
    }
}

.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra__logo:hover
{
    cursor: pointer;
}

.navegacion
{
    display: none;
}

@media (min-width: 768px) {
    .navegacion
    {
        display: flex;
        align-items: center;
        column-gap: 2.8rem;
    }
}

.navegacion__enlace
{
    font-weight: var(--regular);
    font-size: 2rem;
    color: var(--dark);
}

.navegacion__enlacemod
{
    color: var(--rosa);
}

.barra__hamburger
{
    color: var(--dark4);
    font-size: 3rem;
}

@media (min-width: 768px) {
    .barra__hamburger
    {
        display: none;
    }
}

