.hero
{
    width: 100%;
    position: relative;
    padding: 5rem 5rem;
}

@media (min-width: 768px) {

    .hero
    {
        padding: 5rem 0;
    }

    .hero__grid
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 0 3rem;
    }
}

.hero__texts
{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}

@media (min-width: 768px) {
    .hero__texts
    {
        width: 80%;
    }
}

.hero__pretitle
{
    color: var(--rosa);
    font-size: 1.6rem;
    font-weight: var(--bold);
}

.hero__heading
{
    font-size: 4.8rem;
}

@media (min-width: 768px) {
    .hero__heading
    {
        font-size: 6.6rem;
        font-weight: var(--black);
    }
}

@media (min-width: 996px) {
    .hero__heading
    {
        font-size: 9.6rem;
        font-weight: var(--black);
    }
}

.hero__info
{
    font-weight: var(--regular);
    font-size: 2rem;
    line-height: 1.6;
}

.hero__button
{
    border-radius: 100rem;
    padding: 1rem;
    font-size: 2rem;
    padding: 1.3rem 3rem;
    color: var(--dark);
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(60deg, var(--rojo), var(--rosa), var(--naranja));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

.hero__nft
{
    position: absolute;
    top: -15rem;
    right: -43rem;
}

@media (min-width: 768px) {
    .hero__nftbox
    { 
        width: 100%;
    }
    
    .hero__nft
    {
        width: 100%;
        position: unset;
        top: unset;
        right: unset;
    }
}